@import "https://api.fontshare.com/v2/css?f[]=plus-jakarta-sans@400&f[]=zodiak@700&display=swap";
html,
body {
  height: 100%;
}

body {
  margin: 0;
}
body,
body button,
body input,
body textarea {
  font-size: 1rem;
  font-family: "Jakarta Sans", Arial, sans-serif;
}
body a,
body button {
  transition: background-color 0.5s, color 0.5s, opacity 0.5s;
}
body input,
body textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 0;
  color: cadetblue;
}
body input {
  border-bottom: 1px solid cadetblue;
}
body textarea {
  height: 300px;
  border: 1px solid cadetblue;
}
body,
body header a {
  color: #516570;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Zodiak", "Times New Roman", Times, serif;
}
body p {
  line-height: 1.5rem;
}
body #home {
  height: 100%;
  background-attachment: local;
  background-color: #b3d0e2;
  background-image: url("assets/sf-skyline.png"), linear-gradient(to bottom, #b3d0e2 calc(100vh + 150px), #fff calc(100vh + 150px));
  background-position: top -150px right;
  background-repeat: no-repeat;
  overflow: scroll;
}
body #home > nav,
body #home #jump-buttons button,
body #home footer .content form {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
body #home header,
body #home main,
body #home footer {
  min-height: 100%;
  display: flex;
  align-items: center;
}
body #home header .content,
body #home main .content,
body #home footer .content {
  width: 65vw;
  box-sizing: border-box;
}
body #home main a,
body #home main h1,
body #home main h2,
body #home main h3,
body #home main h4,
body #home main h5,
body #home main h6,
body #home footer a,
body #home footer h1,
body #home footer h2,
body #home footer h3,
body #home footer h4,
body #home footer h5,
body #home footer h6 {
  color: #7d9eb0;
}
body #home main a,
body #home footer a {
  font-weight: bold;
}
body #home main a:hover,
body #home footer a:hover {
  color: #a8bcc7;
}
body #home header #jump-buttons button,
body #home footer form button[type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #7d9eb0;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "Switzer", Arial, sans-serif;
  padding: 4px 12px 5px;
}
body #home header #jump-buttons button:hover,
body #home footer form button[type=submit]:hover {
  background-color: #516570;
  cursor: pointer;
}
body #home header {
  background-image: linear-gradient(to bottom, transparent, #cfd9df, #fff, #cfd9df, transparent), url("assets/water.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: flex-end;
  position: relative;
}
body #home header .content {
  min-width: 240px;
  padding: 0 5vw;
  z-index: 9;
}
body #home header .content h1,
body #home header .content p {
  margin: 0;
}
body #home header .content p {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
body #home header .content p a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-decoration: none;
}
body #home header .content p a:hover {
  opacity: 0.5;
}
body #home header .content p a img {
  height: 30px;
  width: auto;
  opacity: 0.4;
}
body #home header .content p a,
body #home header .content #jump-buttons button {
  font-size: clamp(1.1rem, 3vw, 1.4rem);
}
body #home header .content h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(2rem, 5vw, 4rem);
  line-height: 2.2rem;
}
body #home header .content h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #7d9eb0;
  font-size: clamp(1.3rem, 3.5vw, 2rem);
}
body #home header .content #jump-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 20px;
  margin-top: 30px;
}
body #home nav {
  min-height: 40px;
  background-color: #cfd9df;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
body #home nav button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  color: #516570;
}
body #home nav button:hover, body #home nav button.open {
  color: #7d9eb0;
  cursor: pointer;
  text-decoration: underline;
}
body #home main {
  justify-content: flex-start;
}
body #home main .content {
  padding: 80px 5vw;
}
body #home footer {
  background-image: linear-gradient(to bottom, #cfd9df, #fff, #cfd9df);
  position: relative;
  z-index: 2;
}
body #home footer .content {
  margin: 0 auto;
  padding: 80px 5vw;
  text-align: center;
}
body #home footer .content p,
body #home footer .content form {
  max-width: 600px;
  margin: auto;
}
body #home footer .content form {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
  padding: 15px;
}
body #home footer .content form textarea::-moz-placeholder {
  opacity: 0.5;
}
body #home footer .content form textarea:-ms-input-placeholder {
  opacity: 0.5;
}
body #home footer .content form textarea::placeholder {
  opacity: 0.5;
}
body #home footer .content form button[type=submit] {
  font-size: 1rem;
  margin: auto;
}
body #scroll-graphic {
  height: 25vw;
  width: 25vw;
  background-size: cover;
  border: 10px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0 10vw;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}
body #scroll-graphic img {
  height: 100%;
  width: auto;
  position: absolute;
}

@media only screen and (max-width: 700px) {
  .content {
    width: 100% !important;
  }
  header .content {
    width: calc(100% - 40vw) !important;
    padding-top: 0 !important;
  }
  main {
    align-items: flex-start !important;
  }
  main .content {
    padding-top: calc(47vw + 60px) !important;
    text-align: center !important;
  }
  main .content ul {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 0;
    text-align: left;
  }
  #scroll-graphic {
    height: 40vw !important;
    width: 40vw !important;
    margin: 0 !important;
  }
}
@media only screen and (max-width: 350px) {
  header .content {
    background-color: rgba(253, 253, 254, 0.65);
    border-radius: 5vw 0 0 5vw;
    padding: 5vw !important;
  }
}/*# sourceMappingURL=style.css.map */