@import "https://api.fontshare.com/v2/css?f[]=switzer@300&f[]=gambarino@400&display=swap";
html,
body {
  height: 100%;
}

body {
  font-family: "Switzer", Arial, sans-serif;
  margin: 0;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Gambarino", "Times New Roman", Times, serif;
}
body #home {
  height: 100%;
  overflow: scroll;
}
body #home header,
body #home main,
body #home footer {
  min-height: 100%;
  display: flex;
  align-items: center;
}
body #home header .content,
body #home main .content,
body #home footer .content {
  width: 65vw;
  box-sizing: border-box;
}
body #home header,
body #home footer {
  background-image: linear-gradient(to top, #9db3bf, #cfd9df, #fff, #cfd9df, #9db3bf);
}
body #home header {
  justify-content: flex-end;
  position: relative;
}
body #home header .content {
  color: #516570;
  padding: 0 5vw;
}
body #home header .content h1 {
  line-height: 2.5rem;
  margin-top: 0;
}
body #home header .content h2 {
  color: #7d9eb0;
}
body #home header .content #jump-buttons {
  display: flex;
  gap: 20px;
}
body #home header .content #jump-buttons button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  color: #7d9eb0;
  font-family: "Switzer", Arial, sans-serif;
  font-size: 1rem;
  padding: 0;
  text-decoration: underline;
}
body #home header .content #jump-buttons button:hover {
  color: #516570;
  cursor: pointer;
}
body #home nav {
  min-height: 40px;
  background-color: #cfd9df;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
body #home nav button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  color: #516570;
  font-family: "Switzer", Arial, sans-serif;
  font-size: 1rem;
}
body #home nav button:hover, body #home nav button.open {
  color: #7d9eb0;
  cursor: pointer;
  text-decoration: underline;
}
body #home main {
  justify-content: flex-start;
}
body #home main .content {
  padding: 80px 5vw;
}
body #home footer {
  background-color: rgb(100, 100, 100);
  position: relative;
  z-index: 2;
}
body #home footer .content {
  margin: 80px auto;
  text-align: center;
}
body #home footer .content form {
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding: 0 5vw;
}
body #scroll-graphic {
  height: 25vw;
  width: 25vw;
  background-image: url("https://media.licdn.com/dms/image/C5603AQF6OaqGBiD9HA/profile-displayphoto-shrink_200_200/0/1568780258039?e=2147483647&v=beta&t=iSAH7wvT9ncA9WeCgRcAI4PJklpD-3KRUzfJR9TpGKk");
  background-size: cover;
  border-radius: 50%;
  margin: 0 10vw;
  position: fixed;
  z-index: 1;
}

@media only screen and (max-width: 700px) {
  .content {
    width: 100% !important;
  }
  header .content {
    width: calc(100% - 40vw) !important;
    padding-top: 0 !important;
  }
  main {
    align-items: flex-start !important;
  }
  main .content {
    padding-top: calc(47vw + 60px) !important;
    text-align: center !important;
  }
  main .content ul {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 0;
    text-align: left;
  }
  #scroll-graphic {
    height: 40vw !important;
    width: 40vw !important;
    margin: 0 !important;
  }
}/*# sourceMappingURL=style.css.map */