html,
body {
    height: 100%;
}

body {
    margin: 0;

    $sg-dim: 30vw;
    $sg-margin: 7vw;

    #snap-container {
        height: 100%;
        overflow: scroll;

        header,
        main,
        footer {
            min-height: 100%;
            display: flex;
            align-items: center;

            .content {
                width: calc(100vw - ($sg-dim + $sg-margin));
                box-sizing: border-box;
                text-align: center;
            }
        }

        header {
            background-color: transparent;
            justify-content: flex-end;
        }

        nav {
            min-height: 40px;
            background-color: navy;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            position: sticky;
            top: 0;

            button.open {
                background-color: yellow;
            }
        }

        main {
            background-color: rgba(200, 200, 200, 0.5);
            justify-content: flex-start;

            .content {
                padding: 80px 15px;
            }
        }

        footer {
            background-color: rgb(100, 100, 100);
        }
    }

    #scroll-graphic {
        height: $sg-dim;
        width: $sg-dim;
        background-color: maroon;
        border-radius: 50%;
        margin: 0 $sg-margin;
        position: fixed;
        // transition: 1s;
        z-index: -1;
    }
}

@media only screen and (max-width: 700px) {
    $dim: 40vw;
    $margin: 7vw;

    .content {
        padding-top: calc($dim + $margin + 40px) !important;
        width: 100% !important;
    }

    header .content {
        padding-top: 0 !important;
        width: calc(100% - $dim) !important;
    }

    #scroll-graphic {
        height: $dim !important;
        width: $dim !important;
    }
}
